<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Cart')}">
</head>
<body>
<div th:replace="~{fragments/menu :: menu(${path})}"></div>
<section class="h-100 h-custom">
    <div th:if="${clear} == 'T'">
        <div class="container" style="display:flex; justify-content: center; margin-top: 20px">
            <h1 class="fw-bold mb-0 text-black">Your cart is empty</h1>
        </div>
    </div>

    <div th:unless="${clear} == 'T'" class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                        <h6 th:object="${totalItems}" class="mb-0 text-muted"
                                            th:text="${totalItems} + ' items'">3 items</h6>

                                    </div>
                                    <hr class=" my-4">
                                    <div th:each="cartItem, cartItemStat : ${cart.cartItems}"
                                         class="row mb-4 d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img
                                                    th:src="${cartItem.product.imageUrl}"
                                                    class="img-fluid rounded-3" alt="Cotton T-shirt">
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <!--                                            <h6 class="text-muted">Shirt</h6>-->
                                            <h6 th:text="${cartItem.product.name}" class="text-black mb-0">Cotton
                                                T-shirt</h6>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
<!--                                            <button class="btn btn-link px-2"-->
<!--                                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-->
<!--                                                <i class="fas fa-minus"></i>-->
<!--                                            </button>-->

                                            <span class="form-control form-control-sm" th:text="${cartItem.quantity}"></span>

<!--                                            <input id="form1" min="0" name="quantity"-->
<!--                                                   th:value="${cartItem.quantity}"-->
<!--                                                   type="number"-->
<!--                                                   class="form-control form-control-sm"/>-->

<!--                                            <button class="btn btn-link px-2"-->
<!--                                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">-->
<!--                                                <i class="fas fa-plus"></i>-->
<!--                                            </button>-->
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <h6 class="mb-0" th:text="'$ ' + ${cartItem.totalPrice}">$ 44.00</h6>
                                            <a th:href="@{'/marketix/cart/delete-item/' + ${cartItem.product.id}}"
                                               role="button" class="btn btn-danger">X</a>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                                        </div>
                                    </div>
                                    <h6><a class="nav-link" th:href="@{/marketix/cart/clear}">Clear cart</a></h6>
                                </div>
                            </div>

                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <hr class="my-4">

                                    <div
                                            class="d-flex justify-content-between mb-4">
                                        <h5 th:object="${totalItems}" class="text-uppercase"
                                            th:text="'Items ' + ${totalItems}">items 3</h5>
                                        <h5 th:object="${totalPrices}" th:text="'$' + ${totalPrices}">€132.00</h5>

                                    </div>

                                    <h5 class="text-uppercase mb-3">Shipping</h5>

                                    <div class="mb-4 pb-2">
                                        <select class="select">
                                            <option value="1">Standard-Delivery- FREE</option>
                                            <option value="2">Two</option>
                                            vg
                                            <option value="3">Three</option>
                                            <option value="4">Four</option>
                                        </select>
                                    </div>

                                    <h5 class="text-uppercase mb-3">Give code</h5>

                                    <div class="mb-5">
                                        <div class="form-outline">
                                            <input type="text" id="form3Examplea2"
                                                   class="form-control form-control-lg"/>
                                            <label class="form-label" for="form3Examplea2">Enter your
                                                code</label>
                                        </div>
                                    </div>

                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total price</h5>
                                        <h5 th:object="${totalPrices}" th:text="'$' + ${totalPrices}">€132.00</h5>
                                    </div>

                                    <button type="button" class="btn btn-dark btn-block btn-lg"
                                            data-mdb-ripple-color="dark">
                                        <a class="nav-link" th:href="@{/marketix/check-out}">Check out</a>
                                    </button>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{fragments/foot :: foot}"></div>
</body>
</html>
