<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Check-out')}">
</head>
<body>
<div th:replace="~{fragments/menu :: menu(${path})}"></div>
<div class="container mt-5 px-5">

    <div class="mb-4">

        <h2>Confirm order and pay</h2>
        <span>please make the payment, after that you can enjoy all the features and benefits.</span>

    </div>

    <div class="row">

        <div class="col-md-8">


            <div class="card p-3">
            <!--credit card details -->
                <!--                <h6 class="text-uppercase">Payment details</h6>-->
                <!--                <div class="inputbox mt-3"><input type="text" name="name" class="form-control" required="required">-->
                <!--                    <span>Name on card</span></div>-->


                <!--                <div class="row">-->

                <!--                    <div class="col-md-6">-->

                <!--                        <div class="inputbox mt-3 mr-2"><input type="text" name="name" class="form-control"-->
                <!--                                                               required="required"> <i class="fa fa-credit-card"></i>-->
                <!--                            <span>Card Number</span>-->


                <!--                        </div>-->


                <!--                    </div>-->

                <!--                    <div class="col-md-6">-->

                <!--                        <div class="d-flex flex-row">-->


                <!--                            <div class="inputbox mt-3 mr-2"><input type="text" name="name" class="form-control"-->
                <!--                                                                   required="required"> <span>Expiry</span></div>-->

                <!--                            <div class="inputbox mt-3 mr-2"><input type="text" name="name" class="form-control"-->
                <!--                                                                   required="required"> <span>CVV</span></div>-->


                <!--                        </div>-->


                <!--                    </div>-->


                <!--                </div>-->
                <!--to here-->
                <form th:object="${invoice}" method="POST">
                    <div class="mt-4 mb-4">

                        <div th:if="${invoice.id} != null" class="form-group row mb-3">
                            <label path="id" class="col-sm-2 col-form-label">ID</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{id}" id="id" name="id"
                                       class="form-control" title="Article Id" readonly>
                            </div>
                        </div>

                        <h6 class="text-uppercase">Billing Address</h6>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <div class="inputbox mt-3 mr-2">
                                    <label for="streetAddress"></label>
                                        <input id="streetAddress" th:field="*{streetAddress}"  class="form-control" required="required"  th:errorclass="field-error">
                                    <span>Street Address</span>
                                    <p th:if="${#fields.hasErrors('streetAddress')}" th:errors="*{streetAddress}"
                                       class="errors alert alert-danger">
                                        Street Address is required.
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="inputbox mt-3 mr-2">
                                    <label for="city"></label>
                                    <input id="city" th:field="*{city}" type="text" class="form-control" th:errorclass="field-error" required="required">
                                    <span>City</span></div>
                                <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"
                                   class="errors alert alert-danger">
                                    City is required.
                                </p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="inputbox mt-3 mr-2">
                                    <label for="state"></label>
                                    <input id="state" th:field="*{state}" type="text" class="form-control"  th:errorclass="field-error" required="required">
                                    <span>State/Province</span>
                                    <p th:if="${#fields.hasErrors('state')}" th:errors="*{state}"
                                       class="errors alert alert-danger">
                                        State/Province is required.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inputbox mt-3 mr-2">
                                    <label for="zipcode"></label>
                                    <input id="zipcode" th:field="*{zipcode}" type="text" class="form-control"  th:errorclass="field-error" required="required">
                                    <span>Zip code</span>
                                    <p th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}"
                                       class="errors alert alert-danger">
                                        Zip code is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 mb-4 d-flex justify-content-between">
                        <span>Previous step</span>
                        <input type="submit" class="btn btn-success px-3" th:object="${totalPrices}" th:value="'Pay $' + ${totalPrices}"></input>
                    </div>
                </form>
                <!--                do tuka -->

            </div>
        </div>

        <div class="col-md-4 invoice-info">
            <div class="card card-blue p-3 text-white mb-3">
                <span>You have to pay</span>
                <div class="d-flex flex-row align-items-end mb-3">
                    <h1 class="mb-0 yellow" th:object="${totalPrices}" th:text="'$' + ${totalPrices}">$840</h1>
                </div>
                <span>Enjoy all the features and perks after you complete the payment</span>
                <div class="hightlight">
                    <span>100% Guaranteed support and update for the next 5 years.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/foot :: foot}"></div>
</body>
</html>
